<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= link_to 'Home', root_path %>
      |
      <%= link_to 'About Us', about_path %>
      |
      <%= link_to 'Contact', contact_path %>
      |
      <%= link_to 'All Products', products_path %>
      |
      <%= link_to 'New Product', new_product_path %>
      |
      <%= link_to 'Sign Up', new_user_path %>
      |
      <%= link_to 'Login', new_session_path %>
      |
      <%= link_to 'Logout', sessions_path, method: :delete, data: { confirm: 'Logout?' } %>
    <hr>
       <% if flash[:notice] %>
         <div class="alert alert-success"><%= flash[:notice] %></div>
       <% elsif flash[:alert] %>
         <div class="alert alert-danger"><%= flash[:alert] %></div>
       <% end %>
       <%#= notice || alert %>
     <hr>
     <%= yield %>
    </div>
  </body>
</html>
